<!------->
<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content position-fixed">
    <p>
      <mat-toolbar color="primary">
        <button mat-button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span><!--this push below things right-->
        <button mat-icon-button class="example-icon" aria-label="for login purpose">
          <mat-icon>account_circle</mat-icon>
        </button> 
        
      </mat-toolbar>
    </p>
  </div>
  <div class="toStartAfterNavBar minPageSize">

    <router-outlet></router-outlet>

  </div>
 
  
</mat-drawer-container>
