<div style="min-height: 15%;">
</div>
    <mat-card class="example-card"> 
          <h2 style="text-align: center;">Create Account</h2>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <div class="m-t-16">
            <a routerLink="/auth/login">Login</a>
          </div>
    </mat-card>