<div style="min-height: 15%;">
</div>
    <mat-card class="example-card">
       
          <h2 style="text-align: center;">Login</h2>
         
        
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <div class="m-t-16">
            <a routerLink="/auth/register">Create Account</a>
          </div>
      </mat-card>
